* {
	engine: camo;
	padding: 0.25em;
	border: 1px solid #555;
	color: yellow;
	text-shadow: 1px 1px 1px black;
}

*:insensitive {
	color: gray;
}

*:selected {
	background-color: gray;
	border-color: yellow;
	color: black;
	text-shadow: 1px 1px 1px yellow;
}

*:hover {
	border-color: yellow;
}

GtkEntry {
	color: black;
	background-color: white;
}

GtkTextView {
	color: black;
	background-color: white;
}

GtkScrollbar {
	color: black;
	background-color: gray;
}

GtkWidget.header, GtkWidget.highlight {
	color: black;
	background-color: gray;
	border: 1px solid black;
}
