* {
	engine: camo;
	padding: 0.25em;
	border: 1px solid #555;
	color: yellow;
	text-shadow: 1 1 1 black;
}

*:insensitive {
	color: gray;
}

*:selected {
	background-color: gray;
	border-color: yellow;
	color: black;
	text-shadow: 1 1 1 yellow;
}

*:hover {
	border-color: yellow;
}

GtkEntry {
	color: black;
	background-color: white;
}

GtkTextView {
	color: black;
	background-color: white;
}

GtkScrollbar {
	background-color: gray;
}
